
@font-face {
   font-family: "PT Sans";
   font-style: normal;
   font-weight: 400;
   src: url("../fonts/ptsans-400.woff2") format ("woff2");
   font-display: swap;
}

@font-face {
   font-family: "PT Sans";
   font-style: normal;
   font-weight: 700;
   src: url("../fonts/ptsans-700.woff2") format ("woff2");
   font-display: swap;
}

html {
   height: 100%;
}

body {
margin: 0;
display: flex;
flex-direction: column;
height: 100%;
   font-family: "PT Sans", sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color:#000;
   background-color: #FFFFFF;
   outline: 5px solid pgba(255,99,78, 0.5);
   outline-offset: -5px;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.button {
   font-family: inherit;
   font-size: 16px;
   line-height: 20px;
   font-weight: 700;
   text-align: center;
   color: #000;
   background-color:#756157;
   text-decoration: none;
   text-transform: uppercase;
}
.page-header-container {
 width: 1060px;
 max-height: 64px;
 margin: 0 auto;

 display: flex;
 justify-content: space-between;
}
.page-header{
   height: 64px;/* */
   color: #000;
   background-color:#FFFFFF;
}

.navigation-logo{
   width: 140px;
   margin-right: 28px;
}

.logo {
   display: block;
   margin: 0 auto;
  }

.navigation {
   display: flex;
   width: 892px;
   margin: 0 auto;

   height: 64px;
   justify-content: space-between;
   /*outline:4px solid  green;*/
   }

.navigation-list{
 display: flex;
 flex-wrap: wrap;

 margin: 0;
 padding: 0;
 list-style-type: none;
}

.navigation-link {
   display: block;
   padding: 20px 10px;

   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
   text-align: center;
   color: #000;
   background-color: #FFFFFF;
   text-decoration: none;
   }


.navigation-item{
   max-width: 339px;
   /*outline:4px solid yellow;*/
}
.navigation-user{
max-width: 500px;
margin-left: auto;/*????*/
}
/*.navigation-user .navigation-link {
   min-width: 16px;
   min-height: 22px;
}*/
.header-button{
width: 160px;
margin-left: 20px;
padding: 0;
/*outline:4px solid olive;*/
font-size: 16px;
line-height: 20px;
color:#FFFFFF;
background-color:#756157;
text-transform: uppercase;
}
/*.item-user{
width: 44px;
outline:4px solid darkcyan;
}*/
/*********************************/
.page-container{
   min-height: 100%;
   flex-grow: 1;
}
.main-inner,
.main-index {
   color: black;
   text-align: center;
   background-color: #FFFFFF;
}
.main-container {
 width: 1200px;
 margin: 0 auto;
 flex-grow: 1;
}
/******************/
.hero {
   background-image:url("../images/svg-compact/divider.svg"),
    url("../images/jpg-compact/index-background.jpg");
   background-size: 100% 57px, cover;
   background-repeat:no-repeat;
   background-position:bottom left ,0 0;
}
.sedona-title {
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   text-transform: uppercase;
   color: #000;
   margin: 0;
}
.sedona-subtitle {
   font-weight: 400;
   font-size: 22px;
   line-height: 26px;
   color: #333333;
}
.sedona {
   padding-top: 69px;
   padding-bottom: 69px;
   background-color: #FFFFFF;
}
.sedona-wrapper{
   width: 651px;
   margin: 0 auto;
   text-align: center;
}
.advantages{
   padding:0;
}

.advantages-list {
   margin: 0;
   padding: 0;
   list-style-type: none;
   display: flex;
   flex-wrap: wrap;
}
.advantages-item-container{
   width: 230px;
   min-height: 200px;
   padding: 90px 85px;
}
.advantages-item {
 color:#000;
 background-color: #FFFFFF;
}
.item-toun{
   display:flex;
   background-color: #82B3D3;
   color:#FFFFFF;
}
.item-bridge {
   display:flex;
   flex-direction: row-reverse;
   background-color: #82B3D3;
   color:#FFFFFF;
}

.item-home,
.item-present,
.item-tourist,
.item-square {
color:#000;
background-color:rgba(131,179,211,0.12);
}
.item-road {
color: #000;
background-color:rgba(131,179,211,0.2) ;
}

.advantage-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   text-transform: uppercase;
   color: #000;
}
.advantage-description {
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #333333;
}
.services{
   padding-top: 64px;
}
.services-wrapper{
   width: 505px;
   margin: 0 auto;
   text-align: center;
   padding-bottom: 64px;
}
.services-title {
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   text-transform: uppercase;
   color: #000;
   margin: 0;
}
.services-subtitle {
   font-weight: 400;
   font-size: 22px;
   line-height: 26px;
   color: #333333;
}
.advantages-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   text-transform: uppercase;
   color: #000;
}
.advantages-description {
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #333333;
}


.search {
   padding-top: 96px;
   padding-bottom: 96px;
}
.search-wrapper {
  width: 592px;
  margin: 0 auto;
  text-align: center;
}

.search-title{
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   text-transform: uppercase;
   color: #000;
   margin-top: 0;
}
.search-description{
   font-weight: 400;
   font-size: 22px;
   line-height: 26px;
   color:#333333;
}

.search-button {
   width: 376px;/**/
   font-weight: 700;
   font-size: 20px;
   line-height: 36px;
   color:#FFFFFF;
   background-color:#756157;
   text-transform: uppercase;
   text-align: center;
   text-decoration: none;
   border: none;
   border-radius: 4px;
   padding: 8px 50px;
}

.subscribe-index {
   width: 1200px;
   height: 415px;
   margin: 0 auto;
   color:#FFFFFF;
   background-color:#82B3D3;
   background-image: url("../images/jpg-compact/background-subscribe.jpg");
   background-size: 100% auto;
   background-repeat:no-repeat;
}
.subscribe-wrapper {
  width: 684px;
  margin: 0 auto;
  text-align: center;
  padding-top: 96px;
}
.subscribe {
   width: 1200px;
   height: 415px;
   margin: 0 auto;
   color: black;
   text-align: center;
   background-color: #FFFFFF;
}
.subscribe-form {
   display: flex;
   justify-content:space-between ;
   flex-grow: 1;
   color: #000;
   font-size: 18px;
   line-height: 24px;
   background-color: #FFFFFF;
}
.field {
   width: 452px;
   border: none;
   border-radius: 4px 0 0 4px;
   background-color: #f2f2f2 ;
   padding-left: 20px;
}
.subscribe-button {
   width: 232px;
   font-weight: 700;
   font-size: 20px;
   line-height: 36px;
   color:#FFFFFF;
   background-color:#82b3d3;
   text-transform: uppercase;
   text-align: center;
   border: none;
   border-radius: 0 4px 4px 0;
   padding: 8px 50px;
}

.subscribe-title {
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   text-transform: uppercase;

   margin-top:0;
}
.subscribe-description {
   font-weight: 400;
   font-size: 22px;
   line-height: 26px;
}
/******************/
.inner-filter {
   margin: 0 auto;
   background-color: #614f4f;
   background-image: url("../images/jpg-compact/background-filter.jpg");
   background-size: 100% auto;
   background-repeat:no-repeat;
}

.inner-header {
   width: 1060px;
   padding-left: 70px;
   margin: 0 auto;
   text-align: left;

   color: #FFFFFF;
   /*outline:4px solid red;*/
}
.inner-header-title {
   font-weight: 700;
   font-size: 60px;
   line-height: 78px;
   padding-top: 35px;
   margin-top: 0;
   margin-bottom: 0;
}
.breadcrumbs-list{
   display: flex;
   flex-wrap: wrap;

 margin: 0;
 padding: 0;
 list-style-type: none;
}
.breadcrumbs-link {
   display: block;
   padding: 4px 10px;

   font-weight: 400;
   font-size: 16px;
   line-height: 21px;
   color: #FFFFFF;
   text-decoration: none;
}
.breadcrumbs-item {
   min-width:  16px;
   min-height: 21px;
}


.catalog-filter-hotels {
  margin: 0 auto;

  margin-top: 40px;
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 70px;
  outline:4px solid olive;
  /*width: 1060px;*/
}
.filter-wrapper-left {
   width: 371px;
   display: flex;
   justify-content: space-between;
}
.filter-wrapper-right {
   width: 549px;
   display: flex;
   justify-content: space-between;
}
.catalog-filter-group {
  text-align: left;
  border: none;
  color: #FFFFFF;
   /*display: flex;
   justify-content: space-between;*/
}

.catalog-filter-title {
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
}
.catalog-filter-list {
   width: 151.43px;
   padding-left: 0;
   font-weight: 400;
   font-size: 18px;
   line-height: 23px;
   list-style-type: none;
}


/*************************/
.catalog-products-group {
   margin: 0 auto;
   margin-top: 40px;

   color: #000;
   background-color: #FFFFFF;
}
.sorting-container{
   width: 1060px;
   padding: 0;
   margin: 0;
   padding-left: 70px;

   display: flex;
   justify-content: space-between;
   color: #000;
   background-color: #FFFFFF;
  /*outline:4px solid red;*/
}
.select {
   padding-left: auto;
   width: 522px;

   display: flex;
   justify-content: space-between;

}
.select-control {
   width: 292px;
   height: 49px;
   border: 2px solid #e5e5e5;
   border-radius: 4px;
}
.select-title {
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   text-transform: uppercase;

   margin-top: 0;
   margin-bottom: 0;
}

.view-link {
   display: block;
   padding: 4px 10px;
   border: 1px solid #e6e6e6;
   border-radius: 4px;

   font-weight: 400;
   font-size: 16px;
   line-height: 21px;
   color: #FFFFFF;
   text-decoration: none;
}
.view-list {
   display: flex;
   gap: 8px;
   padding: 0;
   margin: 0;
   list-style-type: none;
}
.view-item {
   width:  48px;
   height: 48px;
   border: 1px solid #e6e6e6;
   border-radius: 4px;
}
.in-frame{
   border: 2px solid #000;
}
/************************************************/
.catalog-hotels {
   width: 1060px;
   padding-left:  70px;
   padding-right: 70px;
   padding-top: 40px;
   margin: 0 auto;
}

.hotel-list {
   display: grid;
   grid-template-columns: repeat(3, 340px);
   gap: 20px;

   margin:  0;
   margin-bottom: 40px;
   padding: 0;
   list-style-type: none;
}
.hotel-card {
   width: 340px;
   margin:0;
   padding: 0;
   border:1px solid #e6e6e6 ;
   border-radius: 4px;
}
.flex-wrapper-1,
.flex-wrapper-2,
.flex-wrapper-3 {
   margin-left: 20px;
   margin-right: 20px;
   display:flex;
   /*align-items: center;*/
   justify-content:space-between;
}
.hotel-card-img {
margin: 0;
}
.hotel-card-link {
  text-decoration: none;
}
.hotel-card-title {
   width: 300px;
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    color: #000;

    margin-top: 16px;
    margin-bottom: 0;
    margin-left: 20px;
 }
.hotel-card-subtitle {
   text-align: left;
   font-size: 18px;
   line-height: 21px;
   font-weight: 400;
   color: #333333;

   margin-top: 16px;
   margin-bottom: 0;
}
.hotel-card-price{
   text-align: right;
   font-size: 18px;
   line-height: 21px;
   font-weight: 400;
   color: #333333;

   margin-top: 16px;
   margin-bottom: 0;
}
.hotel-card-about {
   width: 140px;
   height: 36px;
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
   color:#FFFFFF;
   background-color:#756157;
   text-transform: uppercase;
   text-align: center;
   text-decoration: none;
   border: none;
   border-radius: 4px;

   margin-top: 13px;
}
.hotel-card-favorites {
   width: 140px;
   height: 36px;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   color:#000;
   background-color:#82b3d3;
   text-transform: uppercase;
   text-align: center;
   text-decoration: none;
   border: none;
   border-radius: 4px;

   margin-top: 13px;
}
.button-1 {
   background-color: #82b3d3;
}
.button-2 {
   background-color: #70b54f;
}
.hotel-card-raiting{
   width: 140px;
   height: 37px;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   color:#000;
   background-color: #f2f2f2;
   text-transform: uppercase;
   text-align: right;
   text-decoration: none;
   border: none;
   border-radius: 4px;

   margin-top: 13px;
   margin-bottom: 20px;
}
.hotel-card-stars{
   width: 140px;
   height: 37px;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   color:#82b3d3;
   background-color:#FFFFFF;
   text-transform: uppercase;
   text-align: left;
   text-decoration: none;
   border: none;
   border-radius: 4px;

   margin-top: 13px;
   margin-bottom: 20px;
}
/****************************************/
.pagination{
   width: 1060px;
   margin: 0 auto;
   padding: 0;

   color: #000;
   background-color: #FFFFFF;
   list-style-type: none;

   display: flex;
   gap: 8px;
}
.pagination-link{
   display: block;
   padding: 21px 10px;
   border: 4px;

   color: #FFFFFF;
   background-color:#82b3d3;
   text-align: center;
   text-decoration: none;
   font-size: 16px;
   line-height: 18px;
   font-weight: 700;
}
.pagination-item {
   width:  60px;
   height: 60px;
   border: 4px;
   background-color: #82B3D3;
}
.pagination-current{
   color:#000;
   background-color: #f2f2f2;
}

.pagination-next{
   color: #000;
   background-color: #FFFFFF;
}
/*********************/
.subscribe-form-1 {
   display: flex;
   justify-content:space-between ;
   flex-grow: 1;
   color: #000;
   font-size: 18px;
   line-height: 24px;
   background-color: #f2f2f2;
}
.field-1 {
   color: #000;
   width: 452px;
   border: none;
   border-radius: 4px 0 0 4px;
   background-color: #f2f2f2 ;
   padding-left: 20px;
}

/****************************************/
.page-footer {
   color: #000;
   background-color: #FFFFFF;
}
.page-footer-container{
   display: flex;
   width: 1200px;
   margin: 0 auto;
   padding: 9px 0;
}
.footer-contacts {
   width: 720px;
   margin: 0 auto;
   text-align: center;
   /*outline:4px solid red;*/
 }

.footer-social {
  margin-right:auto;
  max-width: 150px;
  outline:4px solid olive;
}
.footer-social-list{
   display: flex;
   flex-wrap: wrap;
   margin: 0;
   padding: 0;
   list-style-type: none;
}
.footer-social-item{
  width: 48px;
  height: 40px;
  margin-right: 2px;
  margin-bottom: 2px;
 outline:4px solid orange;
}
.footer-social-item:nth-child(3n) {
   margin-right: 0;
}
.footer-logo{
 width: 115px;
 max-height: 40px;
 /*margin: 0 auto;*/
 /*outline:4px solid violet;*/
}
.footer-link {
   color: #000;
   background-color: #FFFFFF;
   font-weight: 400;
   font-size: 40px;
   line-height: 40px;
   text-align: center;
   text-transform: uppercase;
   text-decoration: none;
}
