
@font-face {
   font-family: "PT Sans";
   font-style: normal;
   font-weight: 400;
   src: url("../fonts/ptsans-400.woff2") format ("woff2");
   font-display: swap;
}

@font-face {
   font-family: "PT Sans";
   font-style: normal;
   font-weight: 700;
   src: url("../fonts/ptsans-700.woff2") format ("woff2");
   font-display: swap;
}

html {
   height: 100%;
}

body {
margin: 0;
display: flex;
flex-direction: column;
height: 100%;
   font-family: "PT Sans", sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color:#000;
   background-color: #FFFFFF;
   outline: 5px solid pgba(255,99,78, 0.5);
   outline-offset: -5px;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.button {
   font-family: inherit;
   font-size: 16px;
   line-height: 20px;
   font-weight: 700;
   text-align: center;
   color: #000;
   background-color:#756157;
   text-decoration: none;
   text-transform: uppercase;
}
.page-header-container {
 width: 1060px;
 max-height: 64px;
 margin: 0 auto;
 display: flex;
 justify-content: space-between;
}
.page-header{
   height: 64px;
   color: #000;
   background-color:#FFFFFF;
}

.navigation {
display: flex;
width: 892px;
height: 64px;
margin: 0 auto;
justify-content: space-between;
/*outline:4px solid  green;*/
}

.navigation-logo{
   width: 140px;
   margin-right: 28px;
}
.logo {
   display: block;
   margin: 0 auto;
  }
.navigation-list{
 display: flex;
 max-width: 440px;
 list-style: none;
margin: 0;
padding: 0;
/*outline:4px solid red;*/
}
.navigation-item{
   max-width: 339px;
   /*outline:4px solid yellow;*/
}
.navigation-user{
max-width: 268px;
margin-left: auto;
/*outline:4px solid blue;*/
}
.header-button{
width: 160px;
/*outline:4px solid olive;*/
}

.item-user{
width: 44px;
/*outline:4px solid darkcyan;*/
}

.navigation-link {
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #000;
background-color: #FFFFFF;
text-decoration: none;
}


.page-container{
   min-height: 100%;
   flex-grow: 1;
   }
.main-index {
   color: black;
   text-align: center;
   background-color: #FFFFFF;
}
.main-container {
 width: 1200px;
 margin: 0 auto;
 flex-grow: 1;
}


.hero {
   background-image:url("../images/svg-compact/divider.svg"),
    url("../images/jpg-compact/index-background.jpg");
   background-size: 100% 57px, cover;
   background-repeat:no-repeat;
   background-position:bottom left ,0 0;
}
.main-index-title {
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   text-transform: uppercase;
}
.main-index-subtitle {
   font-weight: 400;
   font-size: 22px;
   line-height: 26px;
}
.sedona {
   background-image:url("../images/svg-compact/background.svg");
   background-size: 100%;
   background-repeat:no-repeat;
   background-position:bottom left;
}

.advantages-list {
   margin: 0;
   padding: 0;
   list-style-type: none;
   display: flex;
   flex-wrap: wrap;
}
.advantages-item-container{
   width: 230px;
   min-height: 200px;
   padding: 90px 85px;
}
.advantages-item {
 color:#000;
 background-color: #FFFFFF;
}
.item-toun{
   display:flex;
   background-color: #82B3D3;
   color:#FFFFFF;
}
.item-bridge {
   display:flex;
   flex-direction: row-reverse;
   background-color: #82B3D3;
   color:#FFFFFF;
}

.item-home,
.item-present,
.item-tourist,
.item-square {
color:#000;
background-color:rgba(131,179,211,0.12);
}
.item-road {
color: #000;
background-color:rgba(131,179,211,0.2) ;
}

.advantage-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   text-transform: uppercase;
}
.advantage-description {
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
}
.search {
   padding-top: 96px;
   padding-bottom: 96px;
}
.search-wrapper {
  width: 592px;
  margin: 0 auto;
  text-align: center;
}

.search-title{
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   text-transform: uppercase;

   margin-top: 0;
}
.search-description{
   font-weight: 400;
   font-size: 22px;
   line-height: 26px;
}

.search-button {
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
   color:#FFFFFF;
   background-color:#756157;
   text-transform: uppercase;
   text-align: center;
   text-decoration: none;
   border: none;
   padding: 8px 50px;
}

.subscribe-index {
   margin: 0 auto;

   color: black;
   background-color: #FFFFFF;
   background-image: url("../images/jpg-compact/background-subscribe.jpg");
   background-size: 100% auto;
   background-repeat:no-repeat;
}
.subscribe-wrapper {
  width: 684px;
  margin: 0 auto;
  text-align: center;
}
.subscribe {
   color: black;
   text-align: center;
   background-color: #FFFFFF;
}
.subscribe-form {
   display: flex;

   width: 452px;
   flex-grow: 1;
   color: #000;
   font-size: 18px;
   line-height: 24px;
   background-color: #f2f2f2 ;
   /*padding-left: 258px;*/

}
.subscribe-button {
   width: 232px;
   height: 52px;
   font-weight: 700;
   font-size: 20px;
   line-height: 36px;
   color:#FFFFFF;
   background-color:#82b3d3;
   text-transform: uppercase;
   text-align: center;
   text-decoration: none;
   border: none;
   padding: 8px 50px;
}

.subscribe-title {
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   text-transform: uppercase;

   margin-top:0;
}
.subscribe-description {
   font-weight: 400;
   font-size: 22px;
   line-height: 26px;
}

.main-inner{
   color: black;
   background-color: #614f4f;
   background-image: url("../images/jpg-compact/background-filter.jpg");
   background-size: 100% auto;
   background-repeat:no-repeat;
}
.inner-header-title{
   color: #FFFFFF;
}
.breadcrumbs{
   color:#FFFFFF;
}
.breadcrumbs-link{
   color: #FFFFFF;
   text-decoration: none;

width: 1060px;
}

/*
.index-columns{
display: flex;
justify-content: space-between;
padding: 0 40px;
color: #242424;
background-color: #fbf7f4;
background-image: url("../images/svg-compact/icon-home.svg");
}
*/
.catalog-filter-group{
   color:#FFFFFF;
}

.sorting-container{
   color: #000;
   background-color: #FFFFFF;
}
.button-in-frame{
   color: #242424;
   background-color: #FFFFFF;
}
.catalog-products {
   display:flex;
}
.catalog-filter{
width: 1060px;

}
.catalog-filter-title{
   font-weight: 700;
   text-transform: uppercase;
   color:#FFFFFF;
}
.catalog-column {
 width: 1060px;
 margin-right: 20px;
}

.product-card{
   color: #000;
   background-color: #FFFFFF;
}
.product-card-link{
   text-decoration: none;
}
.product-card-title{
   font-size: 24px;
   font-weight: 700;
   color: #000;
}
.pagination{
   background-color: #FFFFFF;
}
.pagination-link{
   color: #FFFFFF;
   background-color:#82b3d3;
   text-decoration: none;
   line-height: 16px;
   font-weight: 700;
}
.pagination-current{
   color:#000;
   background-color: #f2f2f2;
}
.pagination-disabled{
   background-color: #595959;
}

.page-footer {
   color: #000;
   background-color: #FFFFFF;
}
.page-footer-container{
display: flex;
width: 1060px;
height: 50px;
margin: 0 auto;
justify-content: space-between;
/*align-items: center;*/
/*outline:4px solid green;*/
}

/*
.footer-social {
  width: 144px;
 /* display: flex;*
  margin: 0 auto;
  outline:4px solid olive;
}
*/
.footer-contacts {
width: 720px;
margin: 0 auto;
text-align: center;
/*outline:4px solid red;*/
}
.footer-social-list{
   width: 144px;
   margin: 0 auto;
   display: flex;
   justify-content:flex-end;
   list-style: none;
}
.footer-social-item{
  width: 48px;
  height: 40px;
  /*outline:4px solid orange;*/
}
.footer-logo{
 width: 115px;
 max-height: 40px;
 /*margin: 0 auto;*/
 /*outline:4px solid violet;*/
}
.footer-link {
   color: #000;
   background-color: #FFFFFF;
   font-weight: 400;
   font-size: 40px;
   line-height: 40px;
   text-align: center;
   text-transform: uppercase;
   text-decoration: none;
}
